footer{
    background-color: rgb(39, 39, 39);
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 3rem;
}
footer h2{
    text-align: center;
}